<html>
    <body background="https://ofd-files.s3.us-east-2.amazonaws.com/ofd-assets/ofd_background_image.jpg">
        <div style="display: flex; align-items: center;  justify-content: center; height: 100%">
            <div style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: column; align-items: center; border: 5px solid green;  border-radius: 5px; padding-left: 80px; padding-right: 80px; padding-top: 20px; background-color: white;">
                    <image src="https://ofd-files.s3.us-east-2.amazonaws.com/ofd-assets/ofd_email_main_image.jpg" style="margin-top: 10;  width: 150; height: 120;"/>

                    <br /> <br />

                    <h4>{{email_verification_message}}</h4>

                    <br /> <br />

                    <div style="display: flex; flex-direction: row; margin-bottom: 20px; align-items: baseline;">
                        <image src="https://ofd-files.s3.us-east-2.amazonaws.com/ofd-assets/ofd_email_bottom_image.png" style="margin-right: 10px; width: 30; height: 30;"/>

                        <span>OFD - All Rights Reserved</span>

                        <image src="https://ofd-files.s3.us-east-2.amazonaws.com/ofd-assets/ofd_email_bottom_image.png"
                        style="margin-left: 10px; width: 30; height: 30;" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
